/* تنسيق العنوان */
h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* تنسيق الصورة الرئيسية */
.jumbotron {
    background-image: url('صور\ محل.jpg');
    background-size: cover;
    height: 500px;

}

/* تنسيق الأقسام */
.card {
    margin-bottom: 1.5rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: 1rem;
}

/* تنسيق الأزرار */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* تنسيق العناصر على أجهزة الكمبيوتر الشخصي */
@media (min-width: 992px) {
    .navbar-nav li:hover > a {
        color: #fff;
        background-color: #007bff;
    }

    .navbar-nav li > a {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
    }
    .navbar-nav li:hover > a {
        color: #fff;
        background-color: #007bff;
        transition-delay: 0s;
    }

    #products-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    #products-container {
        margin-top: 20px;
    }

    #products-container h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #products-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #products-container li {
        margin-bottom: 5px;
    }

    #back-to-top {
        position: fixed;
        background-color: #0062cc;    
        bottom: 20px;
        right: 20px;
        transition: all 0.5s ease;
        transition-delay: 0.5s;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        color: #fff;
    }
}

/* تنسيق العناصر على الأجهزة اللوحية */
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 400px;
    }

    .card-img-top {
        height: 150px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        margin-bottom: 0.5rem;
    }

    #products-container h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #products-container li {
        margin-bottom: 3px;
    }

    #back-to-top {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}


/* تنسيق زر الشراء */
.buy-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}